/* src/components/SearchBanner.module.css */
.queryDataDiv {
    min-height: 11vh;
    background-image: linear-gradient(135deg, crimson, #b8017b);
    display: flex;
    color: white;
    padding: 1rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tripDetails {
    display: flex;
    align-items: center;
}

.detailGroup {
    padding: 0 15px;
    text-align: center;
}

.smallLabel {
    font-size: .8em;
    color: rgb(240, 240, 240);
    text-transform: uppercase;
}

.value {
    font-size: 1.2em;
    font-weight: 500;
}

.arrow {
    font-size: 1.5em;
}

.vLine {
    border-left: 1px dashed rgba(255, 255, 255, .7);
    align-self: stretch;
}

.modifyButton {
    color: white;
    border-color: white;
    transition: all 0.2s ease-in-out;
}

.modifyButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}