/* src/index.css */

/* 1. Import Tailwind's layers first */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Add your custom global styles and overrides below */
body {
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-style: normal;
    min-width: 250px;
}

/* Keep scrollbar styles global */
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}